.build-gui {
    position: relative;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    width: 100%;
}

.build-commands {
    grid-area: 1 / 1 / -1 / -1;

    display: grid;

    grid-template-columns: auto 1fr auto;
    grid-auto-rows: min-content;

    grid-gap: var(--spacing-s);

    padding: var(--spacing-m);
}

.build-gui > .floating-buttons {
    position: fixed;

    bottom: calc(2 * var(--spacing-l));
    right: var(--spacing-l);
}

.build-gui > .floating-buttons > button {
    width: var(--spacing-xxl);
    height: var(--spacing-xxl);
    font-size: var(--font-size-xxl);

    display: flex;
    align-items: center;

    border-radius: 10000px;
}

.build-gui > .floating-buttons > button:before {
    font-size: var(--font-size-xl);
}

.build-object {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;

    grid-template-areas:
        "type label actions";

    align-items: center;
}

.build-object .type {
    grid-area: type
}

.build-object .label {
    grid-area: label
}

.build-object .actions {
    grid-area: actions;
}

.build-group {
    grid-column: 1 / -1;
    box-sizing: border-box;
    width: 100%;
    border: var(--border-dull);
    border-radius: var(--radius-m);
    padding: var(--spacing-s);
}

.build-group label {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-variant: petite-caps;
    font-weight: bold;
    color: var(--foreground-03);
    border-bottom: var(--border-dull);
    padding: var(--spacing-xs);
}