button {
    padding: var(--spacing-s) var(--spacing-m);
    cursor: pointer;

    border: none;

    display: block;
}

button:disabled {
    opacity: 0.5;
    filter: brightness(var(--delta));
}

button:hover {
    filter: brightness(var(--delta));
}

button:before {
    content: attr(data-icon);
    font: var(--icon);
    font-size: var(--font-size-s);
    margin-inline-end: var(--spacing-xs);
}

button.primary {
    background: var(--accent);
    color: var(--foreground-accent);
}

button, button.secondary {
    background: var(--background-02);
    color: var(--accent);
}

button.tertiary {
    background: transparent;
    color: var(--accent);
}

button.success {
    background: var(--green);
    color: var(--foreground);
}

button.warning {
    background: var(--orange);
    color: var(--foreground);
}

button.danger {
    background: var(--red);
    color: var(--foreground);
}