button {
    padding: var(--spacing-m) var(--spacing-l);
    cursor: pointer;

    border: none;

    display: flex;
    gap: var(--spacing-m);

    text-align: center;
    justify-content: center;

    border-radius: var(--radius-s);
    box-shadow: var(--shadow-l);
}

button:disabled {
    opacity: 0.5;
    filter: brightness(var(--delta));
}

button:hover {
    filter: brightness(var(--delta));
}

button:before {
    content: attr(data-icon);
    font: var(--icon);
    font-size: var(--font-size-m);
}

button.primary {
    background: var(--accent);
    color: var(--foreground-accent);
}

button, button.secondary {
    background: var(--background-02);
    color: var(--accent);
}

button.tertiary {
    background: transparent;
    color: var(--accent);
    box-shadow: none;
}

button.success {
    background: var(--green);
    color: var(--foreground);
}

button.warning {
    background: var(--orange);
    color: var(--foreground);
}

button.danger {
    background: var(--red);
    color: var(--foreground-accent);
}