#root > .left-button {
    left: 0;
}

#root > .right-button {
    right: 0;
}

#root > .left-button, #root > .right-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
}

#root > .sidebar-left, #root > .sidebar-right {
    position: absolute;
    height: 100%;
    width: min(90vw, var(--element-m));
    z-index: 3;

    display: none;

    background: var(--background-01);
    box-shadow: var(--shadow-s);
}

#root > .sidebar-left {
    grid-area: left-sidebar;
    right: 110%;
}

#root > .sidebar-right {
    grid-area: right-sidebar;
    left: 110%;
}

#root > .sidebar-left.visible, #root > .sidebar-right.visible {
    display: flex;
    flex-direction: column;
}

#root > .sidebar-left.visible {
    right: unset;
    left: 0
}

#root > .sidebar-right.visible {
    left: unset;
    right: 0;
}

#root > .sidebar-layout-content > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.tab-layout-tabs {
    grid-area: tab-list;

    width: 100%;

    display: flex;
    justify-content: flex-start;

    overflow-x: auto;
}

.tab-layout-tab {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: var(--spacing-s) var(--spacing-m);

    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tab-layout {
    grid-area: content;

    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.tab-layout-content {
    display: flex;
    flex: 1;
    min-height: 100%;
    min-width: 100%;
}

.sidebar-statusbar {
    grid-area: statusbar;
    background: var(--background-04);
}

.text-editor {
    max-height: 100%;

}