@import 'theme.css';
@import 'layout.css';
@import 'textedit.css';

:root, body, #root {
    background: var(--background);
    color: var(--foreground);

    font: var(--font-m);

    padding: 0;
    margin: 0;

    width: 100vw;
    height: 100vh;

    max-width: 100vw;
    max-height: 100vh;

    overscroll-behavior: contain;

    position: relative;
}

*:not(article *, div[contenteditable="true"] *) {
    user-select: none;
}

#root {
    display: grid;

    grid-template-columns: 0 var(--spacing-xl) 1fr var(--spacing-xl) 0;
    grid-template-rows: var(--spacing-xl) 1fr auto;

    grid-template-areas:
        "left-sidebar tab-list  tab-list  tab-list  right-sidebar"
        "left-sidebar content   content   content   right-sidebar"
        "left-sidebar statusbar statusbar statusbar right-sidebar";

    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

#root > .centre-layout {
    grid-area: 1 / 1 / -1 / -1;
    width: 100%;
    height: 100%;
}
/*h1, h2, h3, h4, h5, h6 {*/
/*    font-family: "Cascadia Mono", monospace;*/
/*    font-weight: bold;*/
/*}*/

[data-icon]:before {
    content: attr(data-icon);
    font: var(--icon);
}

[data-icon-after]:after {
    content: attr(data-icon-after);
    font: var(--icon);
}