.text-editor {
    display: flex;

    flex-direction: column;

    width: 100%;
    height: 100%;
}

.text-editor > .editor {
    width: 100%;
    height: 100%;

    font: var(--editor-font);
    white-space: pre;

    flex: 1;

    outline: none;
}