form {
    display: grid;

    grid-template-areas:
            'header'
            'content'
            'actions';

    grid-row-gap: var(--spacing-s);
}

form > .header {
    grid-area: header;
}

form > .content {
    grid-area: content;

    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;

    grid-auto-rows: auto;

    grid-row-gap: var(--spacing-s);
}

form > .content :is(label, .group, .widget) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
}

form > .content label span {
    font-size: var(--font-size-s);
    font-weight: bold;
}

form > .actions {
    grid-area: actions;
}